body{
    background: #EEEEEE;
    margin: 0px;
    padding: 0px;
	}.main_div{
	    min-height: 100%;
	    width: 80%;
	    background: #fff;
	    margin: 0 auto;
	    padding: 25px;
	}.main_div h1{
		text-align: center;
		padding-bottom: 50px;
}

.example_box{
    display: inline-grid;
    margin: 5px 20px;
}
.example_box p {
	color: red;
}

.example_box span {
    font-size: 25px;
    border: 1px solid #B0BEC5;
    background: #E0E0E0;
    color: #546E7A;
    text-align: center;
    padding: 2px 15px;
}









